@import '~bootstrap/dist/css/bootstrap.min.css';

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2B2B2B;
    color: white;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    list-style: none;
}

