section {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid white;
}

input {
    width: 64px;
    height: 64px;
    background-color: #0177C7;
    border: 1px solid white;
    text-align: center;
}