.container {
    margin-bottom: 10%;
}

.grid-cell {
    background-color: #0177C7;
    border: 1px solid white;
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 38px;
  }

  .col {
    padding: 0;
  }

